.button {
  cursor: pointer;
  border: none;
}

.button_big {
  padding: 32px 48px;
  border-radius: 32px;
  width: 128px;
  height: 96px;
  background-color: var(--background-button-big-color);
}

.button_small {
  padding: 24px;
  border-radius: 24px;
  width: 80px;
  height: 80px;
  background-color: var(--background-button-small-color);
}