[data-theme='darkPause'] {
  --text-color: var(--green-50);
  --background-color: var(--green-950);
  --background-border-color: var(--green-50);

  --background-status-color: var(--green-alpha-100);

  --background-button-big-color: var(--green-alpha-600);
  --background-button-small-color: var(--green-alpha-100);

  --background-button-big-color-hover: var(--green-alpha-700);
  --background-button-small-color-hover: var(--green-alpha-200);

  --box-shadow-modal: 0 1px 6px rgba(0, 0, 0, 0.039), 0 5.5px 16px rgb(255 255 255 / 19%);
  --background-toggle-color: var(--white-alpha-200)
}