[data-theme='darkFocus'] {
  --text-color: var(--red-50);
  --background-color: var(--red-950);
  --background-border-color: var(--red-50);

  --background-status-color: var(--red-alpha-100);

  --background-button-big-color: var(--red-alpha-700);
  --background-button-small-color: var(--red-alpha-100);
}