[data-theme='darkBreak'] {
  --text-color: var(--blue-50);
  --background-color: var(--blue-950);
  --background-border-color: var(--blue-50);

  --background-status-color: var(--blue-alpha-100);

  --background-button-big-color: var(--blue-alpha-600);
  --background-button-small-color: var(--blue-alpha-100);

  --background-button-big-color-hover: var(--blue-alpha-700);
  --background-button-small-color-hover: var(--blue-alpha-200);
}