[data-theme='darkPause'] {
  --text-color: var(--green-50);
  --background-color: var(--green-950);
  --background-border-color: var(--green-50);

  --background-status-color: var(--green-alpha-100);

  --background-button-big-color: var(--green-alpha-600);
  --background-button-small-color: var(--green-alpha-100);
}