[data-theme='lightBreak'] {
  --text-color: var(--blue-900);
  --background-color: var(--blue-50);
  --background-border-color: var(--blue-900);

  --background-status-color: var(--blue-alpha-100);

  --background-button-big-color: var(--blue-alpha-600);
  --background-button-small-color: var(--blue-alpha-100);

  --background-button-big-color-hover: var(--blue-alpha-700);
  --background-button-small-color-hover: var(--blue-alpha-200);

  --box-shadow-modal: 0 1px 6px rgba(0, 0, 0, 0.039), 0 5.5px 16px rgba(0, 0, 0, 0.19);
  --background-toggle-color: var(--black-alpha-200)
}