[data-theme='lightPause'] {
  --text-color: var(--green-900);
  --background-color: var(--green-50);
  --background-border-color: var(--green-900);

  --background-status-color: var(--green-alpha-100);

  --background-button-big-color: var(--green-alpha-600);
  --background-button-small-color: var(--green-alpha-100);
}